<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- links para iconos  -->
  <script src="https://kit.fontawesome.com/dbca3ea2a9.js" crossorigin="anonymous"></script>

  <!-- hoja de estilos -->
  <link rel="stylesheet" href="./css/normalize.css" />
  <link rel="stylesheet" href="/css/utils.css" />
  <link rel="stylesheet" href="/css/theme.css" />
  <link rel="stylesheet" href="./css/style.css" />

  <link rel="stylesheet" href="/css/styles-sm.css" media="(min-width:480px)" />
  <link rel="stylesheet" href="/css/styles-md.css" media="(min-width:768px)" />
  <link rel="stylesheet" href="/css/styles-lg.css" media="(min-width:1280px)" />

  <title>Deporteando</title>
</head>

<body>
  <!-- encabezado de la pagina -->

  <header class="h-contenedor-header display-flex">

    
      <div class="h-contenedor-logo">
        <img class="logo" src="./imagenes/Deporteando-2.png" alt="logo" />
      </div>

      <p class="text-center">Tu sitio de eventos deportivos</p>
    

    <div class="h-icon-design display-none-sm">
      <i class="fas fa-bars"></i>
    </div>

    <nav class="display-none display-flex-sm navbar-sm">
      <ul>
        <li>
          <a href="/Registro">Creá tu cuenta <i class="far fa-id-card"></i></a>
        </li>
        <li>
          <a href="/Login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
        </li>
        <li>
          <a href="#">Mi Carrito <i class="fas fa-shopping-basket"></i></a>
        </li>
      </ul>
    </nav>
  </header>

  <!-- carrusel de la pagina -->

  <section>
    <article>
      <img src="./imagenes/imagen-fondo-usuario-2.jpg" alt="banner" class="banner" />
      <h3></h3>
      <p></p>
    </article>

    <article>
      <img src="" alt="" />
      <h3></h3>
      <p></p>
    </article>

    <article>
      <img src="" alt="" />
      <h3></h3>
      <p></p>
    </article>
  </section>

  <!-- productos de la pagina -->

  <main>
    <section class="B-categoria">
      <button>Futbol</button>
      <button>Rugby</button>
      <button>Voley</button>
    </section>

    <section class="B-muestra-ticket">
      <article>
        <img src="" alt="" />
        <h3>Título del producto</h3>
        <p>Bajada del producto</p>
        <button><a href="#">Comprar</a></button>
      </article>

      <article>
        <img src="" alt="" />
        <h3>Título del producto</h3>
        <p>Bajada del producto</p>
        <button><a href="#">Comprar</a></button>
      </article>

      <article>
        <img src="" alt="" />
        <h3>Título del producto</h3>
        <p>Bajada del producto</p>
        <button><a href="#">Comprar</a></button>
      </article>
    </section>
  </main>

  <!-- pie de pagina -->

  <footer class="">
    <div>
      <h3>Mas informacion</h3>
      <p><a href="#">Quienes somos</a></p>
      <p><a href="#">¿Por que elegirnos?</a></p>
      <p><a href="#">Preguntas frecuentes</a></p>
      <p><a href="#">Terminos y condiciones</a></p>
      <p><a href="#">Politicas de privacidad</a></p>
    </div>

    <div>
      <h3>Contactanos</h3>
      <p>
        <i><a href="">Formulario de contacto</a></i>
      </p>
      <p>
        <i><a href="">Contactanos via whatssap</a></i>
      </p>
      <p>
        <i><a href="">contacto@deporteando.com</a></i>
      </p>
    </div>

    <div>
      <p>Copyrigth@deporteando</p>
    </div>

    <div>
      <i><a href="#">Facebook</a></i>
      <i><a href="#">Instagram</a></i>
    </div>
  </footer>
</body>

</html>