<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap"
      rel="stylesheet"
    />

    <!-- links para iconos  -->
    <script
      src="https://kit.fontawesome.com/dbca3ea2a9.js"
      crossorigin="anonymous"
    ></script>

    <!-- hoja de estilos -->
    
    <link rel="stylesheet" href="./css/normalize.css" />
    <link rel="stylesheet" href="./css/utils.css" />
    <link rel="stylesheet" href="./css/theme.css" />
    <link rel="stylesheet" href="./css/style.css" />

    <link
      rel="stylesheet"
      href="/css/styles-sm.css"
      media="(min-width:480px)"
    />
    <link
      rel="stylesheet"
      href="/css/styles-md.css"
      media="(min-width:768px)"
    />

    <title>Deporteando</title>
  </head>

  <body>
    <!-- encabezado de la pagina -->

    <header class="h-contenedor-header">
      <div class="display-flex .space-between item-center">
        <div class="h-contenedor-logo">
          <img class="logo" src="./imagenes/deporteandoLogo.png" alt="logo" />
        </div>
         <div class="h-icon-design display-none-sm">
          <i class="fas fa-bars"></i>
        </div>
        <nav class="display-none display-flex-sm navbar-sm">
          <ul>
            <li>
              <a href="/Registro"
                >Creá tu cuenta </a>
            </li>
            <li>
              <a href="/Login">Ingresá </a>
            </li>
            <li>
              <a href="/Carrito"
                >Mi Carrito </a>
            </li>
          </ul>
        </nav>  
      </div>
    </header>

    <!-- carrusel de la pagina -->

    <section>
      <article class="art-banner-style">
        <img
          src="./imagenes/imagen-fondo-usuario-2.jpg"
          alt="banner"
          class="banner"
        />
        <div class="searchBox">
            <div class="search-container display-flex">
            <form>
             <input type="text" placeholder="Buscar eventos" class="imput-content" />
             <button>
              <i class="fa fa-search"></i>
             </button>
              </form>
            </div>
        </div>
      </article>

    <!-- productos de la pagina -->

    <main>
      <section class="B-categoria display-flex">
        <button>Futbol</button>
        <button>Rugby</button>
        <button>Voley</button>
      </section>

<section class="B-muestra-ticket display-flex">
      <div class="product-wrapper">
          <article class="product">
            <img class="product-img" src="./imagenes/evento1.jpg" alt="" width="100%" />
            
            <div class="product-content">
              <h3>Cross Country</h3>
              <p>Sierras de Cordoba (17/11/21)</p>
              <button><a href="#">Comprar</a></button>
            </div>  
          </article>
        </div>

        <div class="product-wrapper">
          <article class="product">
            <img class="product-img" src="./imagenes/evento6.jpg" alt="" width="100%" />
            
            <div class="product-content">
              <h3>Sport Pista</h3>
              <p>Rosario (04/09/21)</p>
              <button><a href="#">Comprar</a></button>
            </div>  
          </article>
        </div>

        <div class="product-wrapper">
          <article class="product">
            <img class="product-img" src="./imagenes/evento3.jpg" alt="" width="100%" />
            
            <div class="product-content">
              <h3>Montain Country</h3>
              <p>Mendoza (20/11/21)</p>
              <button><a href="#">Comprar</a></button>
            </div>  
          </article>
        </div>
        <div class="product-wrapper">
          <article class="product">
            <img class="product-img" src="./imagenes/evento5.jpg" alt="" width="100%" />
            
            <div class="product-content">
              <h3>Cross Country</h3>
              <p>Sierras de Cordoba (17/11/21)</p>
              <button><a href="#">Comprar</a></button>
            </div>  
          </article>
        </div>
      </section>
    </main>

    <!-- pie de pagina -->

    <footer class="f-footer">

      <div class="f-primero">
        <h3 class="f-titulo">Mas informacion</h3>
        <p class="f-info"><a class="f-links" href="#">Quienes somos</a></p>
        <p class="f-info"><a class="f-links" href="#">¿Por que elegirnos?</a></p>
        <p class="f-info"><a class="f-links" href="#">Preguntas frecuentes</a></p>
        <p class="f-info"><a class="f-links" href="#">Terminos y condiciones</a></p>
        <p class="f-100"><a class="f-links" href="#">Politicas de privacidad</a></p>
      </div>

      <div class="f-cuarto">
        <h3 class="f-titulo">Contactanos</h3>
        <p class="f-contacto">
          <i><a class="f-links" href="">Formulario de contacto</a></i>
        </p>
        <p class="f-contacto">
          <i><a class="f-links" href="">Contactanos via whatssap</a></i>
        </p>
        <p class="f-100">
          <i><a class="f-links" href="">contacto@deporteando.com</a></i>
        </p>
      </div>

      <div class="f-segundo">
        <i><a class="f-links-social" href="#">Facebook</a></i>
        <i><a class="f-links-social" href="#">Instagram</a></i>
      </div>

      <div class="f-tercero">
        <p class="f-copy">Copyrigth@deporteando</p>
      </div>
      
    </footer>
  </body>
</html>
