<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap"
      rel="stylesheet"
    />

    <!-- links para iconos  -->
    <script
      src="https://kit.fontawesome.com/dbca3ea2a9.js"
      crossorigin="anonymous"
    ></script>

    <!-- hoja de estilos -->
    <link rel="stylesheet" href="./css/normalize.css" />
    <link rel="stylesheet" href="/css/utils.css" />
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="./css/style.css" />

    <link
      rel="stylesheet"
      href="/css/styles-sm.css"
      media="(min-width:480px)"
    />
    <link
      rel="stylesheet"
      href="/css/styles-md.css"
      media="(min-width:768px)"
    />

    <title>Detalle del evento</title>
  </head>

  <body>
    <!-- encabezado de la pagina -->

    <header class="h-contenedor-header">
      <div class="display-flex">
        <div class="h-contenedor-logo">
          <img
            class="logo"
            src="/imagenes/logo-mercado-liebre.svg"
            alt="logo"
          />
        </div>
        <h2 class="text-center">Tu sitio de eventos deportivos</h2>
        <div class="h-icon-design display-none-sm">
          <i class="fas fa-bars"></i>
        </div>
      </div>
      <nav class="display-none display-flex-sm navbar-sm">
        <ul>
          <li>
            <a href="/Registro"
              >Creá tu cuenta <i class="far fa-id-card"></i
            ></a>
          </li>
          <li>
            <a href="/Login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
          </li>
          <li>
            <a href="/Carrito"
              >Mi Carrito <i class="fas fa-shopping-basket"></i
            ></a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <img src="/imagenes/evento1.jpg" alt="running-cba" class="w-100" />
      <section id="main-seccion-center">
        <div class="content-event-general margingbut-10px">
          <p class="product-title pad-5px">Running Villa María Cordoba</p>
          <p>
            <i class="fas fa-map-marker"></i>
            Puente Andino, Villa María, Córdoba, Argentina
          </p>
          <p><i class="fas fa-calendar-alt"></i>Sábado 19 de Septiembre 2021</p>
          <p><i class="far fa-clock"></i>9 A.M.</p>
        </div>
        <div class="content-event-price margingbut-10px">
          <div class="price-contenedor">
            <p><i class="fas fa-dollar-sign"></i> 300</p>
          </div>
          <div class="buy-contenedor">
            <button class="buy-buttom"><a href="#">Comprar</a></button>
          </div>
        </div>
        <div class="content-event-ubication margingbut-10px">
          <p class="product-title pad-5px align-left">Ubicación</p>
          <img
            src="/imagenes/ubication-map.jpg"
            alt="ubication-map"
            class="w-100"
          />
        </div>
        <div class="display-flex">
          <div class="content-event-description margingbut-10px">
            <p class="product-title pad-5px align-left">
              Descripción del evento
            </p>
            <p class="description-style">
              ¡LANZAMOS NUESTRA 2° EDICIÓN! ¡Nos preparamos para volver a vivir
              momentos únicos rodeados de naturaleza y enoturismo! ¿¡Están
              listos!?
            </p>
          </div>
          <div class="content-event-moreinformation margingbut-10px">
            <p class="product-title pad-5px align-left">Más Información</p>
            <p class="description-style">http://running-cba.com.ar</p>
          </div>
        </div>
      </section>
    </main>
    <!-- pie de pagina -->

    <footer class="f-footer">

      <div class="f-primero">
        <h3 class="f-titulo">Mas informacion</h3>
        <p class="f-info"><a class="f-links" href="#">Quienes somos</a></p>
        <p class="f-info"><a class="f-links" href="#">¿Por que elegirnos?</a></p>
        <p class="f-info"><a class="f-links" href="#">Preguntas frecuentes</a></p>
        <p class="f-info"><a class="f-links" href="#">Terminos y condiciones</a></p>
        <p class="f-100"><a class="f-links" href="#">Politicas de privacidad</a></p>
      </div>

      <div class="f-cuarto">
        <h3 class="f-titulo">Contactanos</h3>
        <p class="f-contacto">
          <i><a class="f-links" href="">Formulario de contacto</a></i>
        </p>
        <p class="f-contacto">
          <i><a class="f-links" href="">Contactanos via whatssap</a></i>
        </p>
        <p class="f-100">
          <i><a class="f-links" href="">contacto@deporteando.com</a></i>
        </p>
      </div>

      <div class="f-segundo">
        <i><a class="f-links-social" href="#">Facebook</a></i>
        <i><a class="f-links-social" href="#">Instagram</a></i>
      </div>

      <div class="f-tercero">
        <p class="f-copy">Copyrigth@deporteando</p>
      </div>
      
    </footer>
  </body>
</html>
