<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- links para iconos  -->
    <script src="https://kit.fontawesome.com/dbca3ea2a9.js" crossorigin="anonymous"></script>

    <!-- hoja de estilos -->
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/usuario.css">

    <title>Sign up</title>
</head>

<body>

    <section>

        <div class="imgbox">
            <img src="imagenes/imagen-fondo-usuario-2.jpg" alt="">
        </div>

        <div class="contentbx">

            <div class="formbx">
                <h2>Sign up</h2>

                <form action="">

                    <div class="inputbx">
                        <span>Username</span>
                        <input type="text" name="Username" required>
                    </div>

                    <div class="inputbx">
                        <span>E-mail</span>
                        <input type="email" name="email" required>
                    </div>

                    <div class="inputbx">
                        <span>Paswsword</span>
                        <input type="password" name="password" required>
                    </div>

                    <div class="inputbx">
                        <span>Repeat passwordd</span>
                        <input type="password" name="Repeat-password" required>
                    </div>

                    <div class="inputbx">
                        <input type="submit" value="sign in" name="">
                    </div>

                    <div class="inputbx">
                        <p>Dont have a acount <a href="#">Sign</a></p>
                    </div>

                </form>
               
            </div>

        </div>

    </section>

</body>

</html>