.box {
  background-color: blueviolet;
  display: flex;
  flex-wrap: wrap;
}

.box-profile {
  background-color: brown;
  width: 30%;
  border-radius: 15px;
}

.box-img {
  background-color: cadetblue;
  width: 100%;
  border-radius: 50%;
}

img {
  width: 100%;
}

.box-info {
  background-color: chartreuse;
  width: 100%;
  border-radius: 7px;
}

.box-events {
  background-color: darkgreen;
  width: 68%;
  margin: 0px 8px;
  border-radius: 8px;
}

.events-buy {
  height: 50%;
}

.events-create {
  height: 50%;
}

.title {
  margin: 10px 0px;
}

.n {
  padding: 0px 5px;
}

.edit {
  width: 100%;
  border-radius: 6px;
}
