.h-contenedor-header {
  background-color: #5ce1e6;
  padding: 8px;
}

.h-contenedor-logo {
  width: 50%;
  text-align: center;
}

.logo {
  width: 100%;
}
.text-center {
  width: 50%;
  text-align: center;
  align-self: center;
  color: #998550;
  font-size: 25px;
  font-weight: bold;
}

.h-icon-design {
  width: 100%;
  text-align: center;
  color: #998550;
  font-size: 15px;
}
.fa-bars {
  font-size: 20px;
}

.art-banner-style {
  position: relative;
  margin-bottom: 20px;
}

.banner {
  width: 100%;
}

.searchBox {
  position: absolute;
  bottom: 45%;
}

.B-categoria {
  text-align: center;
  justify-content: space-around;
}

.B-muestra-ticket {
  text-align: center;
}

/*Producto*/
#main-seccion-center {
  text-align: center;
  margin-top: 10px;
  padding: 0px 10px;
}

.content-event-general {
  border: 2px solid #998550;
}
.content-event-general p {
  text-align: left;
  margin-bottom: 5px;
}
.content-event-general i {
  margin-right: 5px;
  padding-left: 3px;
}
.product-title {
  background-color: #094253;
  color: #998550;
  font-weight: bolder;
}

.content-event-price {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #998550;
  justify-content: space-between;
}
.price-contenedor {
  width: 50%;
  text-align: left;
  padding: 3px 0px 3px 5px;
}

.buy-contenedor {
  background-color: #094253;
  width: 50%;
  text-align: center;
}
.buy-buttom {
  background-color: #094253;
  border-style: none;
  padding: 3px 0px;
}
.buy-buttom a {
  color: #72d079;
  text-decoration: none;
  font-weight: bolder;
}
.content-event-ubication {
  border: 2px solid #998550;
}

.content-event-description {
  border: 2px solid #998550;
}

.description-style {
  text-align: left;
  padding: 3px 3px;
  font-size: 10px;
}
.content-event-moreinformation {
  border: 2px solid #998550;
  width: 100%;
}

/*Carrito*/
.carrit-tickets {
  width: 90%;
  margin: auto;
  margin-top: 15px;
  border: 2px solid #998550;
  justify-content: space-between;
}

.ticket-carrit {
  width: 50%;
}

.price-carrit {
  width: 25%;
}

.cantidad-carrit {
  width: 25%;
}
.selector-carrito {
  width: 100%;
  text-align: center;
  color: #998550;
  font-weight: bolder;
  background-color: #094253;
  border-style: none;
  border-radius: 10px;
}

.temporizador-cart {
  margin-top: 15px;
  border-top: 2px solid #998550;
  border-bottom: 2px solid #998550;
  text-align: center;
  padding: 10px;
}

.data-carrit {
  width: 90%;
  margin: auto;
  margin-top: 15px;
  border: 2px solid #998550;
  justify-content: space-between;
}

.form-content label {
  display: block;
  font-weight: bolder;
  margin: 5px 0px;
}
.form-content input {
  display: block;
  width: 100%;
}
.warning-carrit {
  margin-top: 15px;
  border-top: 2px solid #998550;
  border-bottom: 2px solid #998550;
  padding: 10px;
  text-align: center;
}
.fa-exclamation {
  font-size: 20px;
}
.buy-contenedor-mp {
  background-color: #094253;
  text-align: center;
}
