/*Tablets Min Width 480px*/

.display-flex-sm {
  display: flex;

  margin-top: 10px;
  font-weight: bolder;
  text-decoration: none;
  width: 50%;
}
.display-flex-sm ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
  padding-right: 15px;
}
.display-flex-sm a {
  text-decoration: none;
  color: #ffff;
  font-size: 12px;
  font-weight: bold;
}
.display-flex-sm a:hover {
  color: #ffb700;
}

.display-flex-sm li {
  margin: 0px 5px;
}

.display-none-sm {
  display: none;
  width: 100%;
}

/*Producto*/

.content-event-description {
  width: 49%;
  margin-right: 2%;
}

.content-event-moreinformation {
  width: 49%;
}
/* imagen evento */

.product-wrapper {
  width: 50%;
}
