/*Laptops min width 768px */
/*footer*/

.f-footer{
    display: flex;
    flex-wrap: wrap;
}
  
.f-primero{
    width: 50%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.f-cuarto{
    width: 50%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.f-contacto{
    width: 50%;
}

.f-titulo{
    width: 100%;
}

.f-info{
    width: 50%;
}

.f-100{
    width: 100%;
    padding: 4px;
}
  
.f-segundo{
    width: 100%;
    padding: 10px 0;
}
  
.f-tercero{
    width: 100%;
    padding: 20px;
}
  
.f-info{
    padding: 4px;
}
  
.f-contacto{
    padding: 4px;
}

.f-links:hover{
    color: #ffb700
}
  
