* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
}

.display-none {
  display: none;
}
.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.w-100 {
  width: 100%;
}
.pad-5px {
  padding: 5px;
}
.margingbut-10px {
  margin-bottom: 10px;
}

.align-left {
  text-align: left;
}
