<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head-createProduct")%>
    <title>Creacion de un producto</title>
  </head>

  <body>
    s
    <!-- encabezado de la pagina -->
    <%- include("../partials/header")%>

    <section>
      <div class="imgbox">
        <img src="/imagenes/banner-registro.jpg" alt="" />
      </div>

      <div class="contentbx">
        <div class="formbx">
          <form
            class="forms"
            action="/Evento"
            method="POST"
            enctype="multipart/form-data"
          >
            <div class="inputbx">
              <input
                type="text"
                placeholder="Nombre del evento"
                name="nombre"
                required
              />
            </div>

            <div class="inputbx caja-options">
              <select
                class="selectores"
                name="provincia"
                id="provincia"
                required
              >
                <option value="">Provincia</option>
                <option value="Buenos Aires">Buenos Aires</option>
                <option value="Capital Federal">Capital Federal</option>
                <option value="Catamarca">Catamarca</option>
                <option value="Chaco">Chaco</option>
                <option value="Chubut">Chubut</option>
                <option value="Córdoba">Córdoba</option>
                <option value="Corrientes">Corrientes</option>
                <option value="Entre Ríos">Entre Ríos</option>
                <option value="Formosa">Formosa</option>
                <option value="Jujuy">Jujuy</option>
                <option value="La Pampa">La Pampa</option>
                <option value="La Rioja">La Rioja</option>
                <option value="Mendoza">Mendoza</option>
                <option value="Misiones">Misiones</option>
                <option value="Neuquén">Neuquén</option>
                <option value="Río Negro">Río Negro</option>
                <option value="Salta">Salta</option>
                <option value="San Juan">San Juan</option>
                <option value="San Luis">San Luis</option>
                <option value="Santa Cruz">Santa Cruz</option>
                <option value="Santa Fé">Santa Fé</option>
                <option value="Santiago del Estero">Santiago del Estero</option>
                <option value="Tierra del Fuego">Tierra del Fuego</option>
                <option value="Tucumán">Tucumán</option>
              </select>
            </div>

            <div class="inputbx">
              <input
                type="text"
                placeholder="Localidad"
                name="localidad"
                required
              />
            </div>

            <div class="inputbx">
              <input
                type="text"
                placeholder="Dirección"
                name="direccion"
                required
              />
            </div>

            <div class="inputbx">
              <input
                type="date"
                placeholder="Fecha"
                value="22/08/2022"
                name="fecha"
                required
              />
            </div>

            <div class="inputbx">
              <input type="time" value="11:30" name="horaI" required />
            </div>

            <div class="inputbx">
              <input
                type="time"
                placeholder="Hora de finalizacion"
                value="14:30"
                name="horaF"
                required
              />
            </div>

            <div class="inputbx">
              <input
                type="text"
                placeholder="Precio de entrada"
                name="precio"
                required
              />
            </div>

            <div class="inputbx">
              <textarea
                placeholder="Descripcion del evento"
                name="descripcion"
                required
                class="inputbx"
              ></textarea>
            </div>

            <div class="inputbx">
              <input
                type="text"
                placeholder="Mas informacion"
                name="masInformacion"
                required
              />
            </div>

            <div class="inputbx">
              <label class="main-label">Imagen del evento:</label>
              <input type="file" name="banner" accept="image/jpeg,image/png" />
            </div>

            <div class="inputbx">
              <input type="submit" value="Crear Eevento" />
            </div>
          </form>
        </div>
      </div>
    </section>

    <!-- pie de pagina -->
    <%- include("../partials/footer")%>
  </body>
</html>
