<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head-login")%>

    <title>Ingresar</title>
  </head>

  <body>
    <section>
      <div class="imgbox">
        <img src="imagenes/imagen-fondo-usuario.jpg" alt="" />
      </div>

      <div class="contentbx">
        <div class="formbx">
          <h2>Iniciar Sesión</h2>

          <form action="">
            <div class="inputbx">
              <span>Nombre de usuario</span>
              <input type="text" name="Username" required />
            </div>

            <div class="inputbx">
              <span>Contraseña</span>
              <input type="password" name="password" required />
            </div>

            <div class="remember">
              <label for=""> <input type="checkbox" />Recordar</label>
            </div>

            <div class="inputbx">
              <input type="submit" value="Aceptar" name="" />
            </div>

            <div class="inputbx">
              <p>No tienes cuenta ve <a href="/Registro"> Aqui</a></p>
              <p>No recuerdad tu contraseña? <a href="#"> Aprieta aqui</a></p>
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
