<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/profile.css">
    <title>Document</title>
</head>

<body>
    <div class="box">
        <div class="box-profile">
            <div class="box-img"><img src="/imagenes/errorR.png" alt=""></div>
            <div class="box-info">
                <h4>nombre</h4>
                <h4>apellido</h4>
                <button>editar perfil</button>
            </div>
        </div>
        <div class="box-events">
            <div class="events-buy">
                <h3 class="title">eventos comprados</h3>
            </div>
            <div class="events-create">
                <h3 class="title">eventos creados</h3>
            </div>
        </div>

    </div>
</body>

</html>