<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head-login")%>

    <title>Registrate</title>
</head>

<body>
  <section>
    <div class="imgbox">
      <img src="/imagenes/imagen-fondo-usuario-2.jpg" alt="" />
    </div>

    <div class="contentbx">
      <div class="formbx">
        <h2>Registrate</h2>

        <form action="/Usuario" method="POST" enctype="multipart/form-data">
          <div class="inputbx">
            <span>Nombre</span>
            <input type="text" name="nombre" required />
          </div>
          <div class="inputbx">
            <span>Apellido</span>
            <input type="text" name="apellido" required />
          </div>
          <div class="inputbx">
            <span>Fecha de Nacimiento</span>
            <input type="date" name="nacimiento" required />
          </div>
          <div class="inputbx">
            <span>E-mail</span>
            <input type="email" name="email" required />
          </div>
          <div class="inputbx">
            <span>Genero</span>
            <input type="text" name="genero" required />
          </div>
          <div class="inputbx">
            <span>Tipo de Usuario</span>
            <div class="flexCheck">
              <input type="checkbox" name="tipoDeUsuario" value="Participante" checked />
              <label for="Participante">Participante</label>

              <input type="checkbox" name="tipoDeUsuario" value="Organizador" />
              <label for="Organizador">Organizador</label>
            </div>
          </div>

          <div class="inputbx">
            <span>Contraseña</span>
            <input type="password" name="password" required />
          </div>

          <div class="inputbx">
            <span>Repita la contraseña</span>
            <input type="password" name="Repeat_password" required />
          </div>

          <div class="inputbx">
            <input type="submit" value="Aceptar" />
          </div>
        </form>
      </div>
    </div>
  </section>
</body>

</html>