<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head-login")%>

    <title>Registrate</title>
  </head>

  <body>
    <section>
      <div class="imgbox">
        <img src="imagenes/imagen-fondo-usuario-2.jpg" alt="" />
      </div>

      <div class="contentbx">
        <div class="formbx">
          <h2>Suscribete</h2>

          <form action="">
            <div class="inputbx">
              <span>Nombre de usuario</span>
              <input type="text" name="Username" required />
            </div>

            <div class="inputbx">
              <span>E-mail</span>
              <input type="email" name="email" required />
            </div>

            <div class="inputbx">
              <span>Contraseña</span>
              <input type="password" name="password" required />
            </div>

            <div class="inputbx">
              <span>Repita la contraseña</span>
              <input type="password" name="Repeat-password" required />
            </div>

            <div class="inputbx">
              <input type="submit" value="Aceptar" name="" />
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
